 
:root{
    --lightgrey-color: #979DA6; 
    --darkGrey-blue: #424A59;
    --darkGrey-color: #4A5259;
    --softBlue-color: #5E7B8C;
    --black-color: #0D0D0D;
   }
   
   
   body{
       color:var(--darkGrey-blue);
       font-family: 'Big Shoulders Display', cursive;
       line-height: 1.6;
       background: white;
       text-transform: capitalize;
   
   }
   
   h1{
       color: var(--softBlue-color);
       line-height: 1;
       font-size: 3.125rem;
       letter-spacing: 15px;
       text-transform: capitalize;
   }
   
   h1 span {
       color: var(--softBlue-color);
       display: block;
       font-size: 5.4rem;
       letter-spacing: 10px; 
       text-transform: capitalize;
       display:block;
   }
   
   h2{
       font-size: 2rem;
       letter-spacing: 12px;
       color: var(--darkGrey-color);
       line-height: 1;
       text-transform: capitalize;
   }
   
   h1, h2, p{
       margin-top: 0;
       margin-bottom: 1em;
   }

   .welcome h1{
    font-size: 1.5rem;
    font-weight: normal;
    color: var(--darkGrey-blue);
    line-height: 1.5;
    text-align: center;
    background-size: cover;
    background-position: center;
   }

   .welcome h1::before,
   .welcome h1::after {
       content: "";
       width: 80%;
       display: block;
       height:1px;
       background: var(--black-color);
   }

   .welcome h1::before{
       margin: 0 auto 2em;
   }
   .welcome h1::after{
       margin: 2em auto 0;
   }

   .intro{
       display: flex;
   }

   .intro-middle {
        background: var(--darkGrey-blue);
        padding: 2.5em 5vw;
        text-align: center;
        justify-content: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
   }
   .intro h2 {
       color: white;
   }

   .intro-left img,
   .intro-right img{
       display:block;
       object-fit: cover;
        min-height: 100%;
       min-width: 100%; 
   }

   .intro-middle p{
       color: white;
       
   }